.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 216px;
  & > .title {
    margin-block: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #ffffff;
  }
  & > .field {
    display: flex;
    width: calc(100% - (64 * 2) * 1px);
    height: 48px;
    & > input {
      color: white;
      font-family: 'Oswald';
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      background: #111111;
      padding-inline-start: 16px;
      font-weight: 400;
      font-size: 16px;
      &::placeholder {
        color: #868686;
      }
    }
    & > button {
      cursor: pointer;
      font-family: 'Oswald';
      border: none;
      outline: none;
      height: 100%;
      min-width: 65px;
      background-color: #ff4646;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
  & > .registered {
    width: calc(100% - (64 * 2) * 1px);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #47ff44;
    margin-top: 10px;
  }
  & > .error {
    width: calc(100% - (64 * 2) * 1px);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ff4444;
    margin-top: 10px;
  }
}
