.copy_right {
  position: relative;
  bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 18px;
  color: var(--accent-color);
}

.footer {
  height: 353px;
  display: flex;
  justify-content: space-between;

  .downloads {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
  }

  .list {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .title {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      gap: 15px;
      flex-direction: column;
      list-style-type: none;
    }

    ul li {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;

      a {
        color: #595959;
      }

      a:hover {
        color: var(--accent-color);
      }
    }
  }
}