$super_dark_black: #111111;
$mid_dark_black: #161616;
$dark_black: #1c1c1c;
$light_black: #2c2c2c;
$light_red: #ff4646;
$dark_red: #a7000c;

$navHeight: 64px;
$heroHeight: 479px;
$featuresHeight: 456px;
$max-width: calc(100vw - 300px);