$maxw: 1300px;
$margin: 100px;

.wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    max-width: $maxw;
    width: calc(100% - ($margin * 2));
  }

  .left_border {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .right_border {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}