@import url("https://use.typekit.net/oet8egg.css");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #1c1c1c;
  overflow-x: hidden;
  font-family: oswald, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.navbar {
  height: 64px;
  width: 100%;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar > .container {
  width: 100%;
  max-width: 1020px;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > .container > .left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar > .container > .left > .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.navbar > .container > .left > .divider {
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
}
.navbar > .container > .left > .list {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar > .container > .left > .list > div {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
}
.navbar > .container > .left > .list > div > .title {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.8);
}
.navbar > .container > .right > .button {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #a7000c;
  padding-block: 6px;
  padding-inline: 18px;
  outline: 1px solid rgba(255, 255, 255, 0.6);
}

.hero {
  height: 479px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero > .container {
  width: 100%;
  max-width: 1020px;
  height: 100%;
  border-inline: 1px solid rgba(255, 255, 255, 0.5);
}
.hero > .container > .title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  margin-top: 15px;
  color: #ffffff;
}
.hero > .container > .description {
  width: 559px;
  height: 72px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}
.hero > .container > .second-label {
  margin-top: 45px;
}
.hero > .container > .first-label {
  margin-top: 65px;
}
.hero > .container > .button {
  background: #ff4646;
  width: 186px;
  height: 48px;
  border: 4px solid #1c1c1c;
  outline: 1px solid #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 45px;
}
.hero > .container > .label {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero > .container > .label > .line {
  width: 44px;
  height: 2px;
  background: #ff4646;
}
.hero > .container > .label > .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #505050;
}

.features {
  width: 100%;
  height: 456px;
  background-color: #111111;
  display: flex;
  justify-content: center;
}
.features > .container {
  height: 100%;
  width: 100%;
  max-width: 1020px;
  border-inline: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
}
.features > .container > .line {
  position: absolute;
  left: 110px;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
}
.features > .container > .title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-left: 56px;
  margin-top: -20px;
}
.features > .container > .cards {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 30px;
  margin-left: 130px;
}
.features > .container > .cards > .card > .title {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
.features > .container > .cards > .card > .description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 373px;
  color: rgba(255, 255, 255, 0.5);
}/*# sourceMappingURL=index.css.map */